doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
        title #{title}
        link(rel='stylesheet', media='screen', href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,300italic,300')
        link(rel='stylesheet', media='screen', href='https://fonts.googleapis.com/css?family=Lato:400,700,300')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='../foundation/foundation.min.js')
        script(src='../responsive-nav/responsive-nav.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
        link(rel='stylesheet', media='screen', href='../stylesheets/style___.css')

    body.bids-show
        .bid-process-container
            header.row
                nav.site-nav.large-12.columns
                    ul.bids-nav-list
                        li
                            a(href='/user_dashboard/sign_in')
                            |
                            a.sign-in.nav-link.chunky-cta(href='/user_dashboard/sign_in') Se connecter
                    .container
                        a.site-logo(href='/')
                            img(style='margin-top:-30px',src='../images/logo.png', alt='logo-uzengo')
            .bids-secondary-row-container.bids-row
                .row
                    ul.large-12.medium-12.small-12.columns.bids-step-process
                        li.bids-step-icon.bid-step-icon-date-frequency.bids-step-icon--current
                            | Vous avez choisi une prestation de m&eacute;nage. Pour que nous puissions &eacute;valuer au mieux vos besoins, nous avons besoin d&rsquo;en savoir un peu plus&mldr;
            section
                form.simple_form.track_cleaner-step-two(action='/bids_process/selection', accept-charset='UTF-8', method='post')
                    .row
                        div(style='width: 100%')
                            .bid_process_wrapper
                                .bid_process_question.bid_process_duration
                                    .bid_process_question.bid_process_duration
                                        h2.bid_process_question_title Choisissez votre formule
                                        .bid_process_question_inputs(style='margin-right:100px')
                                        |
                                        label
                                            input(type='radio', name='cleaning', value='small')
                                            |
                                            img.cleanning(src='../images/grand_menage.png')
                                        |
                                        label
                                            input(type='radio', name='cleaning', value='small')
                                            |
                                            img.cleanning_pack(src='../images/pack.png')
                                        |
                                        input.bi(type='checkbox', name='animal')
                                        |  bi-mensuel
                                        input.hebdo(type='checkbox', name='animal')
                                        |  Hebdomadaire
                                fieldset.bid-process-form
                                    h2.bid-process-form__heading.bid-process-form__heading--border  Informations de votre commande
                                    .row.bp-confirm-row
                                        .large-6.medium-6.small-6.columns
                                            .form-group.string.required.bid_user_firstname
                                                label.string.required.control-label Superficie totale &agrave; nettoyer
                                                .controls
                                                    select#bid_duration.hours(name='bid[duration]')
                                                        option(value='7200') &lt; 40m&sup2; &rarr; 2 heures
                                                        option(value='10800') 40-60m&sup2; &rarr; 2,5 heures
                                                        option(value='14400') 60-80m&sup2; &rarr; 3 heures
                                                        option(value='18000') 80-100m&sup2; &rarr; 3,5 heures
                                                        option(value='21600') 100-120m&sup2; &rarr; 4 heures
                                                        option(value='25200') &gt; 120m&sup2; &rarr; &gt; 4,5 heures
                                        .large-6.medium-6.small-6.columns
                                            .form-group.string.required.bid_user_lastname
                                                label.string.required.control-label Animaux de compagnie&nbsp;?
                                                .controls
                                                    input(type='checkbox', name='animal')
                                    .row.bp-confirm-row
                                        .large-6.medium-6.small-6.columns
                                            .form-group.email.required.bid_user_email
                                                label.required.control-label Nombre de chambres
                                                .controls
                                                    select.hours(name='bid[duration]')
                                                        option(value='1') 1
                                                        option(value='2') 2
                                                        option(value='3') 3
                                                        option(value='4') 4 et plus
                                            .js-email-suggestion
                                        .large-6.medium-6.small-6.columns
                                            .form-group.string.required.bid_user_mobile
                                                label.string.required.control-label Options
                                                .controls
                                                    select.hours(name='bid[duration]')
                                                        option(value='7200')
                                                        option(value='7200') Nettoyage four &rarr; +30 min
                                                        option(value='10800') Nettoyage r&eacute;frig&eacute;rateur &rarr; +1 heure
                                                        option(value='14400') Nettoyage vitres &rarr; +1 heure
                                    .row.bp-confirm-row
                                        .large-6.medium-6.small-6.columns
                                            .form-group.password.required.bid_user_password
                                                label.required.control-label Nombre de salles de bain
                                                .controls
                                                    select.hours(name='bid[duration]')
                                                        option(value='1') 1
                                                        option(value='2') 2
                                                        option(value='3') 3 et plus
                                        .large-6.medium-6.small-6.columns
                                            .form-group.password.required.bid_user_password_confirmation
                                                .controls
                                .bid_process_submit
                                    input#button_search_cleaners.bid-process__button.bid-process__button--positive(type='submit', name='commit', value='Étape suivante', disable_with='Recherche, veuillez patienter ...')
