doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
        title #{title}
        link(rel='stylesheet', media='screen', href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,300italic,300')
        link(rel='stylesheet', media='screen', href='https://fonts.googleapis.com/css?family=Lato:400,700,300')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='../foundation/foundation.min.js')
        script(src='../responsive-nav/responsive-nav.js')
        script(src='../javascripts/bootstrap-timepicker.js')
        script(src='../javascripts/bootstrap-datepicker.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
        link(rel='stylesheet', media='screen', href='../stylesheets/bids_process.css')
    body.bids-show
        .bid-process-container
            header.row
                nav.site-nav.large-12.columns
                    ul.bids-nav-list
                        if !initialized
                            li
                                a(href='user_dashboard/sign_in')
                                    a.sign-in.nav-link.chunky-cta(href='/user_dashboard/sign_in') Se connecter
                        else if initialized
                            li
                                a(href='/log_out')
                                    a.sign-in.nav-link.chunky-cta(href='/log_out') Se déconnecter

            .bids-secondary-row-container.bids-row
                .row
                    ul.large-12.medium-12.small-12.columns.bids-step-process
                        li.bids-step-icon.bid-step-icon-date-frequency.bids-step-icon--current  1. Votre r&eacute;servation
                        li.bids-step-rule.bids-step-rule--dashed  &nbsp;
                        li.bids-step-icon.bid-step-icon-your-details  2. Vos informations
                        li.bids-step-rule.bids-step-rule--dashed  &nbsp;
                        li.bids-step-icon.bid-step-icon-pay-confirmed  3. Confirmation de votre r&eacute;servation
            section
                form.simple_form.track_cleaner-step-two(action='/bids_process/selection', accept-charset='UTF-8', method='post')
                    .row
                        aside.large-4.medium-4.small-4.columns.pad-r-0
                            div
                                #booking_summary_boxes
                                    .booking-summary
                                        .booking-summary__heading  R&eacute;sum&eacute; de votre r&eacute;servation
                                        ul.booking-details
                                            li.booking-details__item
                                                span.booking_detail_name.detail Code postal
                                                |
                                                span#postcode.booking_detail_value.value L- #{postcode}
                                            li.booking-details__item
                                                span.booking_detail_name.detail Date
                                                |
                                                span.booking_detail_value.value.bid_date_summary
                                            li.booking-details__item
                                                span.booking_detail_name.detail Heure
                                                |
                                                span.booking_detail_value.value.bid_time_summary
                                            li.booking-details__item
                                                span.booking_detail_name.detail Heures r&eacute;serv&eacute;es
                                                |
                                                span.booking_detail_value.value.bid_duration_summary 3 heures
                                            .booking-details-cost
                                                li.booking-details__item
                                                    span.booking_detail_name.detail Co&ucirc;t du m&eacute;nage
                                                    |
                                                    span.booking_detail_value.value.bid_cost_summary(data-cost='5970') 59,70&euro;
                                                li.booking-details__item.booking_details_total_cost
                                                    span.booking_detail_name.detail Co&ucirc;t total
                                                    |
                                                    span.booking_detail_value.value.bid_cost_total 59,70&euro;
                                                li.booking_details_item
                                                    .real-price
                                                        span.booking_detail_name Apr&egrave;s r&eacute;duction d&rsquo;imp&ocirc;t de 30%
                                                        |
                                                        span.booking_detail_value 29,85&euro;
                        .large-8.medium-8.small-8.columns.pad-l-0
                            .bid_process_wrapper
                                .bid_process_question.bid_process_duration
                                    h2.bid_process_question_title Choisir un service
                                    .bid_process_question_inputs
                                        select#bid_service.hours(name='service')
                                            option(selected='selected', value='0001') M&eacute;nage
                                    h2.bid_process_question_title Nombre d&apos;heures requises ?
                                    .bid_process_question_inputs
                                        select#bid_duration.hours(name='duration')
                                            option(value='7200') 2 heures
                                            option(selected='selected', value='10800') 3 heures
                                            option(value='14400') 4 heures
                                            option(value='18000') 5 heures
                                            option(value='21600') 6 heures
                                            option(value='25200') 7 heures
                                            option(value='28800') 8 heures
                                            option(value='32400') 9 heures
                                            option(value='36000') 10 heures
                                            option(value='39600') 11 heures
                                            option(value='43200') 12 heures
                                .bid_process_question.bid_process_date
                                    h2.bid_process_question_title Quand souhaitez-vous avoir votre service ?
                                    .bid_process_question_inputs
                                        .form_field.bid_date_and_time_field
                                            .bootstrap-timepicker
                                                input#bid_time.timepicker.with_time_limits(value='12h00', required='required', type='text', name='time')
                                            input#bid_date.datepicker(value='26/03/2017', required='required', data-date-format='dd/mm/yyyy', type='text', name='date')
                                .bid_process_submit
                                    input#button_search_cleaners.bid-process__button.bid-process__button--positive(type='submit', name='commit', value='Réservez un créneau', disable_with='Recherche, veuillez patienter ...')
                                    if errors
                                        ul
                                            for error in errors
                                                li(style='color:red')!= error.msg












            script(type='text/javascript').


                $('.datepicker').datepicker();
                $('.timepicker').timepicker();


                function format_duration_string(seconds) {
                    var hours = seconds / 3600,
                            str;
                    var hourFraction = (hours % 1),
                            mins = hourFraction > 0 ? Math.floor(60 * hourFraction) : '';
                    str = Math.floor(hours) + 'h' + mins;
                    return str;
                }

                function update_booking_summary() {
                    var duration = $('#bid_duration').val();
                    $('.bid_duration_summary').html(format_duration_string(duration));
                    $('.bid_time_summary').html($('#bid_time').val());
                    $('.bid_date_summary').html($('#bid_date').val());

                    var price_per_hour = 24.90;

                    function priceToInt(decimalPrice) {
                        // avoid bugs in multiplying of float numbers. try 75.6 * 100 for example, see what happens...
                        return parseInt((decimalPrice * 100).toPrecision(12), 10);
                    }

                    var cost = ($('#bid_duration').val() * price_per_hour / (60 * 60)),
                            cost_pence = priceToInt(cost),
                            materials_cost_pence = 0,
                            total_cost = parseInt(cost_pence, 10) + parseInt(materials_cost_pence, 10);
                    $('.bid_cost_summary').data('cost', cost_pence).html(cost);
                    $('.bid_cost_total').html(total_cost / 100);
                    var prePromoAmount = cost_pence,
                            amountAfterPromo = (prePromoAmount - ($('.bid_promo_amount').attr('data-promoamount') || 0)) / 100.0;
                    if (amountAfterPromo < 0) {
                        amountAfterPromo = 0;
                    }
                    var amountAfterRebate = amountAfterPromo - (amountAfterPromo * (30 / 100.0));
                    var total = amountAfterRebate + (materials_cost_pence / 100.0);
                    total = total.toFixed(2);
                    if (total < 0) {
                        total = 0;
                    }
                    $('.real-price .booking_detail_value').html(total);

                }

                $(document).ready(function () {
                    update_booking_summary();
                    // Change the summary when details are updated.
                    $('form input').add('form select').change(update_booking_summary);
                });
