html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
        title #{title}
        link(rel='stylesheet', media='screen', href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,300italic,300')
        link(rel='stylesheet', media='screen', href='https://fonts.googleapis.com/css?family=Lato:400,700,300')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='../foundation/foundation.min.js')
        script(src='../responsive-nav/responsive-nav.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
        link(rel='stylesheet', media='screen', href='../stylesheets/style___.css')
    body.bids-show
        .bid-process-container
            header.row
                nav.site-nav.large-12.columns
                    ul.bids-nav-list
                        li
                            a(href='/user_dashboard/sign_in')
                            |
                            a.sign-in.nav-link.chunky-cta(href='http://localhost/sign_in') Se connecter
                    .container
                        a.site-logo(href='/')
                            img(style='margin-top:-30px' src='../images/logo.png', alt='logo-uzengo')
            .bids-secondary-row-container.bids-row
                .row
                    ul.large-12.medium-12.small-12.columns.bids-step-process
                        li.bids-step-icon.bid-step-icon-date-frequency.bids-step-icon--current
                            | En quelques minutes...Choisissez votre prestation de service &agrave; domicile sur mesure
            section
                form.simple_form.track_cleaner-step-two(action='/bids_process/selection_', accept-charset='UTF-8', method='post')
                    .row
                        div(style='width: 100%')
                            .bid_process_wrapper
                                .bid_process_question.bid_process_duration(style='height:400px')
                                    h2.bid_process_question_title Choisir un service
                                    |
                                    label
                                        input(type='radio', name='service', value='cleanning')
                                        |
                                        img.cleanning(src='../images/cleaning.png')
                                    |
                                    label
                                        input(type='radio', name='service', value='ironning')
                                        |
                                        img.ironning(src='../images/ironning.png')
                                    |
                                    label
                                        input(type='radio', name='service', value='baby_sitting')
                                        |
                                        img.baby_setting(src='../images/baby_setting.png')


                                .bid_process_submit
                                    input#button_search_cleaners.bid-process__button.bid-process__button--positive(type='submit', name='commit', value='Étape suivante', disable_with='Recherche, veuillez patienter ...')
